:root {
    --background-color: #1B1B1B;
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Montserrat', sans-serif;
    --primary-color: #FFFFFF;
    --secondary-color: #F65282;
}

html {
    height: 100%;
  }

body {
    background: var(--background-color);
    font-family: var(--main-font-family);
    min-height: 100%;
    position:relative;
}

h1, h2 {
    color: var(--primary-color);
    text-align: center;
}

h1 {
    font-size: 72px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-family: var(--secondary-font-family);
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
}

p {
    color: var(--primary-color); 
    font-size: 18px;
    text-align: justify;
    line-height: 2;
}

footer {
    background: #282323;
    color: var(--primary-color);
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 10px 0;
}

footer p {
    text-align: end;
    font-size: 14px;
    margin: 0;
}

footer p a {
    text-decoration: none;
    color: var(--primary-color);
}

footer p a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.custom-navbar {
    background-color: #282323;
    font-size: 16px;
    font-family: var(--main-font-family);
}

.hero {
padding: 70px 0px;
padding-bottom: 80px;
margin-left: 0;
}

.content {
    margin: 60px auto;
    padding-bottom: 70px;
}

.contact-box {
    background-color: #282323;
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
}

.btn-customized {
    background-color: var(--primary-color);
    font-family: var(--secondary-font-family);
    font-size: 14px;
    font-weight: bold;
    color: #272142;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 30px;
    transition: all 200ms ease-in-out;
}

.btn-customized:hover {
    color: var(--primary-color);
}

.contact-icons {
margin-top:80px;
margin-bottom: 140px;
}

.contact-icons,
.footer-icons {
    text-align: start;
    font-size: 20px;
}

.contact-icons i,
.footer-icons i {
    color: var(--primary-color);
    transition: all 150ms ease-in-out;
}

.contact-icons i:hover,
.footer-icons i:hover {
    color: var(--secondary-color); 
}

.contact-icons a,
.footer-icons a {
    text-decoration: none;
}

.contact-icons a:visited,
.footer-icons a:visited {
    text-decoration: none;
}

.email {
    color: var(--primary-color); 
    font-size: 18px;
    text-decoration: none;
}

.email:hover {
    color: var(--primary-color); 
    text-decoration: underline;
}


@media (max-width: 912px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .contact-box {
        margin: 80px auto;
    }

    .hero-about-photo {
        width: 50%;
    }
}
